streamlit
numpy
opencv-python
tensorflow
pillow
h5py
pyngrok
fastapi
uvicorn
gunicorn
requests
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose
streamlit-lottie
streamlit-image-comparison
reportlab
